In [16]:
import pandas as pd
pd.set_option("display.precision", 1)
corp_info = pd.read_csv('corp.csv', header=0)
corp_info

,순위,종목코드,종목명,현재가,대비,등락률,거래량,거래대금,시가,고가,저가,시가총액,시가총액비중(%),상장주식수,외국인 보유주식수,외국인 지분율(%),총카운트
0,1,005930,삼성전자,"46,100","-1,050",-2.2,"6,854,965","317,650,411,250","46,800","47,050","46,000","275,206,975,555,000",17.5,"5,969,782,550",NaN,NaN,2405.0
1,2,000660,SK하이닉스,"77,000","-2,800",-3.5,"2,616,455","203,392,849,900","79,000","79,400","76,500","56,056,182,105,000",3.6,"728,002,365",NaN,NaN,NaN
2,3,005935,삼성전자우,"38,100",-500,-1.3,"823,913","31,399,459,992","38,600","38,600","37,900","31,351,983,270,000",2.0,"822,886,700",NaN,NaN,NaN
3,4,005380,현대차,"128,000","-2,500",-1.9,"464,277","59,477,099,500","130,000","131,000","126,500","27,349,527,936,000",1.7,"213,668,187",NaN,NaN,NaN
4,5,051910,LG화학,"333,000",0,0.0,"168,074","55,303,005,500","333,500","333,500","325,000","23,507,250,219,000",1.5,"70,592,343",NaN,NaN,NaN
5,6,012330,현대모비스,"242,500","-3,000",-1.2,"169,686","40,865,947,500","245,500","245,500","237,500","23,111,873,295,000",1.5,"95,306,694",NaN,NaN,NaN
6,7,068270,셀트리온,"179,000","-6,000",-3.2,"433,127","78,396,577,000","183,500","184,500","179,000","22,970,903,530,000",1.5,"128,329,070",NaN,NaN,NaN
7,8,035420,NAVER,"138,500","-2,500",-1.8,"583,604","80,883,355,500","139,500","141,000","137,000","22,826,655,207,500",1.4,"164,813,395",NaN,NaN,NaN
8,9,055550,신한지주,"43,900",250,0.6,"871,054","38,233,388,300","43,800","44,150","43,600","20,817,361,869,300",1.3,"474,199,587",NaN,NaN,NaN
9,10,005490,POSCO,"228,500","-4,000",-1.7,"194,010","44,631,084,000","233,000","233,000","228,500","19,922,191,797,500",1.3,"87,186,835",NaN,NaN,NaN
10,11,017670,SK텔레콤,"246,000",500,0.2,"121,033","29,804,367,500","247,500","249,000","244,000","19,863,444,906,000",1.3,"80,745,711",NaN,NaN,NaN
11,12,051900,LG생활건강,"1,240,000","16,000",1.3,"31,789","39,285,922,000","1,230,000","1,248,000","1,226,000","19,366,564,280,000",1.2,"15,618,197",NaN,NaN,NaN
12,13,105560,KB금융,"43,600",-200,-0.5,"630,292","27,480,484,000","43,950","44,100","43,400","18,229,663,013,200",1.2,"418,111,537",NaN,NaN,NaN
13,14,207940,삼성바이오로직스,"273,000","-2,500",-0.9,"83,126","22,733,567,000","273,000","278,000","271,000","18,063,045,000,000",1.1,"66,165,000",NaN,NaN,NaN
14,15,015760,한국전력,"27,950",350,1.3,"1,840,989","51,060,219,550","27,600","27,950","27,300","17,942,895,952,150",1.1,"641,964,077",NaN,NaN,NaN
15,16,028260,삼성물산,"92,300","-2,200",-2.3,"213,772","19,794,618,700","94,000","94,100","91,800","17,508,390,968,900",1.1,"189,690,043",NaN,NaN,NaN
16,17,000270,기아차,"42,850",-750,-1.7,"782,422","33,611,610,600","43,800","43,900","42,500","17,369,819,418,950",1.1,"405,363,347",NaN,NaN,NaN
17,18,018260,삼성에스디에스,"212,000","-3,500",-1.6,"66,628","14,254,540,000","215,500","219,000","212,000","16,404,093,600,000",1.0,"77,377,800",NaN,NaN,NaN
18,19,006400,삼성SDI,"229,000","-3,000",-1.3,"180,305","41,102,882,000","231,500","232,500","225,500","15,747,077,370,000",1.0,"68,764,530",NaN,NaN,NaN
19,20,096770,SK이노베이션,"169,000","-4,000",-2.3,"282,740","47,497,441,561","174,000","174,000","164,500","15,626,680,316,000",1.0,"92,465,564",NaN,NaN,NaN
20,21,034730,SK,"221,500","-3,000",-1.3,"71,878","15,921,621,000","224,500","224,500","219,500","15,584,805,785,500",1.0,"70,360,297",NaN,NaN,NaN
21,22,032830,삼성생명,"77,000",-800,-1.0,"221,890","17,015,807,000","77,700","78,200","76,000","15,400,000,000,000",1.0,"200,000,000",NaN,NaN,NaN
22,23,033780,KT&G,"96,800",0,0.0,"205,333","19,950,938,000","97,100","97,900","96,800","13,289,913,709,600",0.8,"137,292,497",NaN,NaN,NaN
23,24,003550,LG,"73,300",-800,-1.1,"138,814","10,159,491,100","73,700","74,300","72,200","12,648,437,702,300",0.8,"172,557,131",NaN,NaN,NaN
24,25,000810,삼성화재,"262,500",-500,-0.2,"64,363","16,805,742,750","262,500","263,500","258,000","12,435,894,712,500",0.8,"47,374,837",NaN,NaN,NaN
25,26,066570,LG전자,"68,600",0,0.0,"377,472","25,967,194,700","68,300","69,700","68,000","11,226,240,040,400",0.7,"163,647,814",NaN,NaN,NaN
26,27,035720,카카오,"129,000","-2,000",-1.5,"368,365","47,659,535,500","130,000","132,000","128,000","10,768,353,690,000",0.7,"83,475,610",NaN,NaN,NaN
27,28,036570,엔씨소프트,"485,000","-7,000",-1.4,"53,965","26,253,350,000","490,000","495,000","481,000","10,644,063,170,000",0.7,"21,946,522",NaN,NaN,NaN
28,29,086790,하나금융지주,"35,100",-250,-0.7,"926,666","32,582,323,800","35,350","35,500","34,900","10,538,496,376,200",0.7,"300,242,062",NaN,NaN,NaN
29,30,010950,S-Oil,"91,700","-1,300",-1.4,"276,318","25,198,697,800","92,900","92,900","90,300","10,323,842,026,400",0.7,"112,582,792",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2375,2376,002785,진흥기업우B,"5,190",-240,-4.4,"23,393","121,733,250","5,400","5,470","5,020","4,448,961,420",0.0,"857,218",NaN,NaN,NaN
2376,2377,005965,동부건설우,"19,250",350,1.8,"2,337","43,569,150","18,900","19,500","18,200","4,345,341,000",0.0,"225,732",NaN,NaN,NaN
2377,2378,099350,하나니켈2호,"1,305",-135,-9.4,"68,876","93,513,190","1,415","1,450","1,300","4,285,620,000",0.0,"3,284,000",NaN,NaN,NaN
2378,2379,001755,한양증권우,"8,090",-260,-3.1,"3,313","26,739,700","8,360","8,360","7,910","4,247,250,000",0.0,"525,000",NaN,NaN,NaN
2379,2380,245450,씨앤에스링크,"2,640",-460,-14.8,472,"1,252,540","3,100","3,100","2,640","4,171,094,400",0.0,"1,579,960",NaN,NaN,NaN
2380,2381,001065,JW중외제약우,"24,800",-950,-3.7,"1,199","29,888,500","25,300","26,000","24,650","4,150,900,000",0.0,"167,375",NaN,NaN,NaN
2381,2382,271850,다이오진,"1,375",-80,-5.5,"4,621","5,795,605","1,515","1,515","1,250","4,125,000,000",0.0,"3,000,000",NaN,NaN,NaN
2382,2383,000995,DB하이텍1우,"36,050","-1,250",-3.4,979,"34,877,750","37,000","37,000","34,600","4,048,991,800",0.0,"112,316",NaN,NaN,NaN
2383,2384,002787,진흥기업2우B,"13,500",-400,-2.9,"5,760","77,446,750","13,900","13,900","13,250","3,979,908,000",0.0,"294,808",NaN,NaN,NaN
2384,2385,084440,유비온,"1,300",0,0.0,10,"13,000","1,300","1,300","1,300","3,896,239,100",0.0,"2,997,107",NaN,NaN,NaN
2385,2386,000545,흥국화재우,"4,975",-95,-1.9,"2,249","11,100,205","5,230","5,230","4,800","3,820,800,000",0.0,"768,000",NaN,NaN,NaN
2386,2387,092590,럭스피아,517,-61,-10.6,15,"9,653",664,664,517,"3,769,497,666",0.0,"7,291,098",NaN,NaN,NaN
2387,2388,001067,JW중외제약2우B,"39,350",-600,-1.5,590,"23,487,150","39,950","41,400","39,250","3,454,536,500",0.0,"87,790",NaN,NaN,NaN
2388,2389,189350,코셋,835,-80,-8.7,"1,026","1,073,961","1,050","1,050",788,"3,340,000,000",0.0,"4,000,000",NaN,NaN,NaN
2389,2390,149940,모다,155,0,0.0,0,0,0,0,0,"3,279,863,395",0.0,"21,160,409",NaN,NaN,NaN
2390,2391,00781K,코리아써키트2우B,"4,100",-210,-4.9,439,"1,785,855","4,065","4,140","4,065","3,213,165,900",0.0,"783,699",NaN,NaN,NaN
2391,2392,000325,노루홀딩스우,"17,200",-800,-4.4,300,"5,202,350","18,400","18,400","17,200","3,186,300,000",0.0,"185,250",NaN,NaN,NaN
2392,2393,032685,소프트센우,"22,000",-150,-0.7,"1,417","31,284,200","22,150","23,500","21,650","3,142,854,000",0.0,"142,857",NaN,NaN,NaN
2393,2394,227420,포레스팅블록체인,399,-31,-7.2,2,798,399,399,399,"3,027,586,464",0.0,"7,587,936",NaN,NaN,NaN
2394,2395,001527,동양2우B,"9,810",-290,-2.9,683,"6,778,610","10,500","10,500","9,700","3,027,061,890",0.0,"308,569",NaN,NaN,NaN
2395,2396,000547,흥국화재2우B,"19,200","-1,650",-7.9,"1,082","21,402,850","20,850","20,850","19,200","2,949,120,000",0.0,"153,600",NaN,NaN,NaN
2396,2397,000227,유유제약2우B,"17,900",-400,-2.2,350,"6,340,400","18,000","19,050","17,900","2,937,032,000",0.0,"164,080",NaN,NaN,NaN
2397,2398,001799,대한제당3우B,"21,500","-1,600",-6.9,"1,415","31,142,150","23,200","23,200","21,500","2,787,604,000",0.0,"129,656",NaN,NaN,NaN
2398,2399,223220,아이피몬스터,256,0,0.0,0,0,0,0,0,"2,761,538,816",0.0,"10,787,261",NaN,NaN,NaN
2399,2400,208890,에듀파트너,"1,310",-220,-14.4,11,"15,310","1,400","1,400","1,310","2,607,974,200",0.0,"1,990,820",NaN,NaN,NaN
2400,2401,276240,엘리비젼,997,1,0.1,"1,123","1,120,472",854,"1,140",854,"2,579,438,400",0.0,"2,587,200",NaN,NaN,NaN
2401,2402,001529,동양3우B,"27,600",-950,-3.3,"1,889","52,265,350","28,150","29,000","27,200","2,476,327,200",0.0,"89,722",NaN,NaN,NaN
2402,2403,247300,인프라웨어테크놀러지,370,-36,-8.9,"2,860","1,058,200",370,370,370,"2,263,733,260",0.0,"6,118,198",NaN,NaN,NaN
2403,2404,224020,에스케이씨에스,830,-140,-14.4,"1,151","1,004,780",873,873,830,"2,241,000,000",0.0,"2,700,000",NaN,NaN,NaN
2404,2405,135270,세종머티리얼즈,104,0,0.0,0,0,0,0,0,"743,189,304",0.0,"7,146,051",NaN,NaN,NaN

In [17]:
corp_info = corp_info[['종목코드','종목명','현재가','상장주식수']]
corp_info

        종목코드         종목명        현재가          상장주식수
0     005930        삼성전자     46,100  5,969,782,550
1     000660      SK하이닉스     77,000    728,002,365
2     005935       삼성전자우     38,100    822,886,700
3     005380         현대차    128,000    213,668,187
4     051910        LG화학    333,000     70,592,343
5     012330       현대모비스    242,500     95,306,694
6     068270        셀트리온    179,000    128,329,070
7     035420       NAVER    138,500    164,813,395
8     055550        신한지주     43,900    474,199,587
9     005490       POSCO    228,500     87,186,835
10    017670       SK텔레콤    246,000     80,745,711
11    051900      LG생활건강  1,240,000     15,618,197
12    105560        KB금융     43,600    418,111,537
13    207940    삼성바이오로직스    273,000     66,165,000
14    015760        한국전력     27,950    641,964,077
15    028260        삼성물산     92,300    189,690,043
16    000270         기아차     42,850    405,363,347
17    018260     삼성에스디에스    212,000     77,377,800
18    006400       삼성SDI    229,000     68,764,530
19    096770     SK이노베이션    169,000     92,465,564
20    034730          SK    221,500     70,360,297
21    032830        삼성생명     77,000    200,000,000
22    033780        KT&G     96,800    137,292,497
23    003550          LG     73,300    172,557,131
24    000810        삼성화재    262,500     47,374,837
25    066570        LG전자     68,600    163,647,814
26    035720         카카오    129,000     83,475,610
27    036570       엔씨소프트    485,000     21,946,522
28    086790      하나금융지주     35,100    300,242,062
29    010950       S-Oil     91,700    112,582,792
...      ...         ...        ...            ...
2375  002785      진흥기업우B      5,190        857,218
2376  005965       동부건설우     19,250        225,732
2377  099350      하나니켈2호      1,305      3,284,000
2378  001755       한양증권우      8,090        525,000
2379  245450      씨앤에스링크      2,640      1,579,960
2380  001065     JW중외제약우     24,800        167,375
2381  271850        다이오진      1,375      3,000,000
2382  000995     DB하이텍1우     36,050        112,316
2383  002787     진흥기업2우B     13,500        294,808
2384  084440         유비온      1,300      2,997,107
2385  000545       흥국화재우      4,975        768,000
2386  092590        럭스피아        517      7,291,098
2387  001067   JW중외제약2우B     39,350         87,790
2388  189350          코셋        835      4,000,000
2389  149940          모다        155     21,160,409
2390  00781K   코리아써키트2우B      4,100        783,699
2391  000325      노루홀딩스우     17,200        185,250
2392  032685       소프트센우     22,000        142,857
2393  227420    포레스팅블록체인        399      7,587,936
2394  001527       동양2우B      9,810        308,569
2395  000547     흥국화재2우B     19,200        153,600
2396  000227     유유제약2우B     17,900        164,080
2397  001799     대한제당3우B     21,500        129,656
2398  223220      아이피몬스터        256     10,787,261
2399  208890       에듀파트너      1,310      1,990,820
2400  276240        엘리비젼        997      2,587,200
2401  001529       동양3우B     27,600         89,722
2402  247300  인프라웨어테크놀러지        370      6,118,198
2403  224020     에스케이씨에스        830      2,700,000
2404  135270     세종머티리얼즈        104      7,146,051

[2405 rows x 4 columns]

In [18]:
corp_info['종목코드'] = 'A' + corp_info['종목코드'].astype(str)
corp_info

         종목코드         종목명        현재가          상장주식수
0     A005930        삼성전자     46,100  5,969,782,550
1     A000660      SK하이닉스     77,000    728,002,365
2     A005935       삼성전자우     38,100    822,886,700
3     A005380         현대차    128,000    213,668,187
4     A051910        LG화학    333,000     70,592,343
5     A012330       현대모비스    242,500     95,306,694
6     A068270        셀트리온    179,000    128,329,070
7     A035420       NAVER    138,500    164,813,395
8     A055550        신한지주     43,900    474,199,587
9     A005490       POSCO    228,500     87,186,835
10    A017670       SK텔레콤    246,000     80,745,711
11    A051900      LG생활건강  1,240,000     15,618,197
12    A105560        KB금융     43,600    418,111,537
13    A207940    삼성바이오로직스    273,000     66,165,000
14    A015760        한국전력     27,950    641,964,077
15    A028260        삼성물산     92,300    189,690,043
16    A000270         기아차     42,850    405,363,347
17    A018260     삼성에스디에스    212,000     77,377,800
18    A006400       삼성SDI    229,000     68,764,530
19    A096770     SK이노베이션    169,000     92,465,564
20    A034730          SK    221,500     70,360,297
21    A032830        삼성생명     77,000    200,000,000
22    A033780        KT&G     96,800    137,292,497
23    A003550          LG     73,300    172,557,131
24    A000810        삼성화재    262,500     47,374,837
25    A066570        LG전자     68,600    163,647,814
26    A035720         카카오    129,000     83,475,610
27    A036570       엔씨소프트    485,000     21,946,522
28    A086790      하나금융지주     35,100    300,242,062
29    A010950       S-Oil     91,700    112,582,792
...       ...         ...        ...            ...
2375  A002785      진흥기업우B      5,190        857,218
2376  A005965       동부건설우     19,250        225,732
2377  A099350      하나니켈2호      1,305      3,284,000
2378  A001755       한양증권우      8,090        525,000
2379  A245450      씨앤에스링크      2,640      1,579,960
2380  A001065     JW중외제약우     24,800        167,375
2381  A271850        다이오진      1,375      3,000,000
2382  A000995     DB하이텍1우     36,050        112,316
2383  A002787     진흥기업2우B     13,500        294,808
2384  A084440         유비온      1,300      2,997,107
2385  A000545       흥국화재우      4,975        768,000
2386  A092590        럭스피아        517      7,291,098
2387  A001067   JW중외제약2우B     39,350         87,790
2388  A189350          코셋        835      4,000,000
2389  A149940          모다        155     21,160,409
2390  A00781K   코리아써키트2우B      4,100        783,699
2391  A000325      노루홀딩스우     17,200        185,250
2392  A032685       소프트센우     22,000        142,857
2393  A227420    포레스팅블록체인        399      7,587,936
2394  A001527       동양2우B      9,810        308,569
2395  A000547     흥국화재2우B     19,200        153,600
2396  A000227     유유제약2우B     17,900        164,080
2397  A001799     대한제당3우B     21,500        129,656
2398  A223220      아이피몬스터        256     10,787,261
2399  A208890       에듀파트너      1,310      1,990,820
2400  A276240        엘리비젼        997      2,587,200
2401  A001529       동양3우B     27,600         89,722
2402  A247300  인프라웨어테크놀러지        370      6,118,198
2403  A224020     에스케이씨에스        830      2,700,000
2404  A135270     세종머티리얼즈        104      7,146,051

[2405 rows x 4 columns]

In [19]:
corp_result = pd.read_excel('SAMPLE_2018.xlsx')
corp_result

,종목코드,회사명,당기순이익,유동자산,부채총계,매출총이익,자본총계,자산총계
0,A000020,동화약품,10068113000,227887463000,73198591000,115903237000,297400652000,370599243000
1,A000040,KR모터스,-24442080000,86949763000,85006462000,-631020000,69894605000,154901067000
2,A000050,경방,20189241000,120711492000,593023494000,107395818000,708769347000,1301792841000
3,A000060,메리츠화재,234721346000,0,18195561629000,0,2283200522000,20478762151000
4,A000070,삼양홀딩스,102512252000,1057235344000,1311855275000,482105988000,2001941981000,3313797255000
5,A000080,하이트진로,22272353000,1064966843000,2265764980000,761860402000,1162378535000,3428143515000
6,A000100,유한양행,58334962000,1110961783000,522077130000,413792024000,1651735504000,2173812633000
7,A000120,CJ대한통운,51800069000,2180844615000,4737828935000,828072934000,3138903155000,7876732089000
8,A000140,하이트진로홀딩스,8640980000,1083713642000,2893499586000,767141228000,1095786557000,3989286143000
9,A000150,두산,-340510995000,11585894166000,21735235429000,3323508790000,7145046191000,28880281620000
10,A000180,성창기업지주,-7933704000,85694716000,159282203000,17312092000,489378544000,648660747000
11,A000210,대림산업,678088774000,6366648561000,6783472630000,1420161607000,6050244102000,12833716732000
12,A000220,유유제약,4312110000,68869662000,48354059000,40636937000,86872256000,135226315000
13,A000230,일동홀딩스,-3831883000,54890858000,100522263000,20013961000,164946011000,265468274000
14,A000240,한국타이어월드와이드,218355604000,590386119000,262718282000,284108210000,3235872326000,3498590608000
15,A000250,삼천당제약,14592937000,142271889000,55394974000,83197927000,205763466000,261158440000
16,A000270,기아차,1155943000000,19711791000000,24543141000000,7992530000000,27243464000000,51786605000000
17,A000300,대유플러스,19120849000,250712765000,863495206000,73675381000,140608976000,1004104182000
18,A000320,노루홀딩스,2664076000,449147290000,425647066000,183192460000,561495276000,987142342000
19,A000370,한화손해보험,81759590000,0,15318315284000,0,1415552026000,16733867311000
20,A000390,삼화페인트,800759000,275185176000,276200374000,87345386000,281779106000,557979480000
21,A000400,롯데손해보험,91314265000,0,13651651397000,0,563337402000,14214988799000
22,A000430,대원강업,23857286000,352164240000,515047305000,114161257000,570720025000,1085767330000
23,A000440,중앙에너비스,889990000,4174206000,13480020000,12696157000,45263718000,58743738000
24,A000480,조선내화,57955243000,369512835000,336922588000,116768660000,693699617000,1030622205000
25,A000490,대동공업,1464262000,447800610000,555212961000,125048867000,217503766000,772716728000
26,A000500,가온전선,98902000,277829165000,266088415000,35493547000,260405860000,526494275000
27,A000520,삼일제약,-8562748000,59184330000,91865621000,34791021000,56082999000,147948619000
28,A000540,흥국화재,50441000000,0,11256838000000,0,682034000000,11938872000000
29,A000590,CS홀딩스,12641149000,188480772000,29665433000,28531036000,274752760000,304418193000
...,...,...,...,...,...,...,...,...
1979,A297570,IBKS제9호스팩,-756000,0,939793000,0,5267905000,6207699000
1980,A298000,효성화학,20394861000,438322896000,1286001139000,114602893000,367248241000,1653249379000
1981,A298020,효성티앤씨,31498303000,1428058179000,2651942914000,255765643000,486901345000,3138844259000
1982,A298040,효성중공업,1908746000,1492635018000,2527800474000,239206367000,904711079000,3432511553000
1983,A298050,효성첨단소재,-23744728000,1030997728000,2068681942000,182774224000,466015869000,2534697811000
1984,A298380,에이비엘바이오,-117234140000,161091085000,11906880000,1257884000,156962235000,168869115000
1985,A298690,에어부산,20294184000,105633987000,150402815000,65447298000,152296942000,302699757000
1986,A299170,IBKS제10호스팩,-25108000,0,1499562000,0,8332973000,9832536000
1987,A299660,셀리드,-11286321000,8239136000,720628000,0,13495505000,14216133000
1988,A300720,한일시멘트,53726823000,565218272000,499783148000,119349714000,868218023000,1368001171000
1989,A302430,이노메트리,5247720000,52774757000,11292993000,11012834000,48364402000,59657395000
1990,A303030,대신밸런스제5호스팩,-4049000,0,651846000,0,7758537000,8410382000
1991,A306200,세아제강,7030156000,479655614000,500666740000,32708406000,553451801000,1054118541000
1992,A306620,DB금융스팩6호,33000,0,1056050000,0,8797198000,9853248000
1993,A307070,SK4호스팩,-24500000,0,738660000,0,9116796000,9855456000
1994,A307160,하나머스트제6호스팩,-9884000,0,716747000,0,8216413000,8933159000
1995,A307180,신영스팩4호,-131025000,0,1230484000,0,8611395000,9841878000
1996,A307280,교보8호스팩,-28370000,0,1062020000,0,6774388000,7836408000
1997,A307750,대신밸런스제6호스팩,-26859000,0,710480000,0,9613697000,10324178000
1998,A307870,골든브릿지이안5호,-2987000,0,898008000,0,8839206000,9737214000
1999,A307950,현대오토에버,55228435000,689503604000,377482748000,145535428000,451588443000,829071191000
2000,A309930,삼성머스트스팩3호,-7758000,0,696723000,0,8272471000,8969194000
2001,A310200,미래에셋대우스팩2호,-11654000,0,1163795000,0,5804306000,6968101000
2002,A310840,엔에이치스팩13호,-10869000,0,1407776000,0,6475928000,7883704000
2003,A310870,한국제8호스팩,-7076000,0,529500000,0,6350131000,6879631000
2004,A311270,키움제5호스팩,-130749000,0,769275000,0,7103863000,7873138000
2005,A313750,유안타제4호스팩,-13122000,0,1103143000,0,685353000,1788497000
2006,A316140,우리금융지주,0,0,0,0,0,0
2007,A317030,케이비17호스팩,0,0,0,0,0,0
2008,A317320,한화에스비아이스팩,0,0,0,0,0,0

In [20]:
corp_result.columns

Index(['종목코드', '회사명', '당기순이익', '유동자산', '부채총계', '매출총이익', '자본총계', '자산총계'], dtype='object')

In [21]:
corp_data = corp_result[['종목코드', '유동자산', '부채총계']]
corp_data

         종목코드            유동자산            부채총계
0     A000020    227887463000     73198591000
1     A000040     86949763000     85006462000
2     A000050    120711492000    593023494000
3     A000060               0  18195561629000
4     A000070   1057235344000   1311855275000
5     A000080   1064966843000   2265764980000
6     A000100   1110961783000    522077130000
7     A000120   2180844615000   4737828935000
8     A000140   1083713642000   2893499586000
9     A000150  11585894166000  21735235429000
10    A000180     85694716000    159282203000
11    A000210   6366648561000   6783472630000
12    A000220     68869662000     48354059000
13    A000230     54890858000    100522263000
14    A000240    590386119000    262718282000
15    A000250    142271889000     55394974000
16    A000270  19711791000000  24543141000000
17    A000300    250712765000    863495206000
18    A000320    449147290000    425647066000
19    A000370               0  15318315284000
20    A000390    275185176000    276200374000
21    A000400               0  13651651397000
22    A000430    352164240000    515047305000
23    A000440      4174206000     13480020000
24    A000480    369512835000    336922588000
25    A000490    447800610000    555212961000
26    A000500    277829165000    266088415000
27    A000520     59184330000     91865621000
28    A000540               0  11256838000000
29    A000590    188480772000     29665433000
...       ...             ...             ...
1979  A297570               0       939793000
1980  A298000    438322896000   1286001139000
1981  A298020   1428058179000   2651942914000
1982  A298040   1492635018000   2527800474000
1983  A298050   1030997728000   2068681942000
1984  A298380    161091085000     11906880000
1985  A298690    105633987000    150402815000
1986  A299170               0      1499562000
1987  A299660      8239136000       720628000
1988  A300720    565218272000    499783148000
1989  A302430     52774757000     11292993000
1990  A303030               0       651846000
1991  A306200    479655614000    500666740000
1992  A306620               0      1056050000
1993  A307070               0       738660000
1994  A307160               0       716747000
1995  A307180               0      1230484000
1996  A307280               0      1062020000
1997  A307750               0       710480000
1998  A307870               0       898008000
1999  A307950    689503604000    377482748000
2000  A309930               0       696723000
2001  A310200               0      1163795000
2002  A310840               0      1407776000
2003  A310870               0       529500000
2004  A311270               0       769275000
2005  A313750               0      1103143000
2006  A316140               0               0
2007  A317030               0               0
2008  A317320               0               0

[2009 rows x 3 columns]

In [22]:
corp_total = pd.merge(corp_info, corp_data, how='left', on='종목코드')
corp_total

         종목코드         종목명        현재가          상장주식수     유동자산     부채총계
0     A005930        삼성전자     46,100  5,969,782,550  1.7e+14  9.2e+13
1     A000660      SK하이닉스     77,000    728,002,365  2.0e+13  1.7e+13
2     A005935       삼성전자우     38,100    822,886,700      NaN      NaN
3     A005380         현대차    128,000    213,668,187  4.7e+13  1.1e+14
4     A051910        LG화학    333,000     70,592,343  1.2e+13  1.2e+13
5     A012330       현대모비스    242,500     95,306,694  2.0e+13  1.2e+13
6     A068270        셀트리온    179,000    128,329,070  1.7e+12  9.1e+11
7     A035420       NAVER    138,500    164,813,395  5.4e+12  3.9e+12
8     A055550        신한지주     43,900    474,199,587  0.0e+00  4.2e+14
9     A005490       POSCO    228,500     87,186,835  3.4e+13  3.1e+13
10    A017670       SK텔레콤    246,000     80,745,711  8.0e+12  2.0e+13
11    A051900      LG생활건강  1,240,000     15,618,197  1.7e+12  1.7e+12
12    A105560        KB금융     43,600    418,111,537  0.0e+00  4.4e+14
13    A207940    삼성바이오로직스    273,000     66,165,000  1.6e+12  1.8e+12
14    A015760        한국전력     27,950    641,964,077  2.0e+13  1.1e+14
15    A028260        삼성물산     92,300    189,690,043  1.4e+13  2.0e+13
16    A000270         기아차     42,850    405,363,347  2.0e+13  2.5e+13
17    A018260     삼성에스디에스    212,000     77,377,800  5.9e+12  1.9e+12
18    A006400       삼성SDI    229,000     68,764,530  5.5e+12  7.1e+12
19    A096770     SK이노베이션    169,000     92,465,564  1.7e+13  1.7e+13
20    A034730          SK    221,500     70,360,297  3.7e+13  6.9e+13
21    A032830        삼성생명     77,000    200,000,000  0.0e+00  2.6e+14
22    A033780        KT&G     96,800    137,292,497  6.4e+12  2.0e+12
23    A003550          LG     73,300    172,557,131  4.6e+12  4.7e+12
24    A000810        삼성화재    262,500     47,374,837  0.0e+00  6.7e+13
25    A066570        LG전자     68,600    163,647,814  1.9e+13  2.8e+13
26    A035720         카카오    129,000     83,475,610  2.9e+12  2.3e+12
27    A036570       엔씨소프트    485,000     21,946,522  1.6e+12  5.6e+11
28    A086790      하나금융지주     35,100    300,242,062  0.0e+00  3.6e+14
29    A010950       S-Oil     91,700    112,582,792  5.9e+12  9.5e+12
...       ...         ...        ...            ...      ...      ...
2375  A002785      진흥기업우B      5,190        857,218      NaN      NaN
2376  A005965       동부건설우     19,250        225,732      NaN      NaN
2377  A099350      하나니켈2호      1,305      3,284,000      NaN      NaN
2378  A001755       한양증권우      8,090        525,000      NaN      NaN
2379  A245450      씨앤에스링크      2,640      1,579,960      NaN      NaN
2380  A001065     JW중외제약우     24,800        167,375      NaN      NaN
2381  A271850        다이오진      1,375      3,000,000      NaN      NaN
2382  A000995     DB하이텍1우     36,050        112,316      NaN      NaN
2383  A002787     진흥기업2우B     13,500        294,808      NaN      NaN
2384  A084440         유비온      1,300      2,997,107      NaN      NaN
2385  A000545       흥국화재우      4,975        768,000      NaN      NaN
2386  A092590        럭스피아        517      7,291,098      NaN      NaN
2387  A001067   JW중외제약2우B     39,350         87,790      NaN      NaN
2388  A189350          코셋        835      4,000,000      NaN      NaN
2389  A149940          모다        155     21,160,409  1.0e+11  1.7e+11
2390  A00781K   코리아써키트2우B      4,100        783,699      NaN      NaN
2391  A000325      노루홀딩스우     17,200        185,250      NaN      NaN
2392  A032685       소프트센우     22,000        142,857      NaN      NaN
2393  A227420    포레스팅블록체인        399      7,587,936      NaN      NaN
2394  A001527       동양2우B      9,810        308,569      NaN      NaN
2395  A000547     흥국화재2우B     19,200        153,600      NaN      NaN
2396  A000227     유유제약2우B     17,900        164,080      NaN      NaN
2397  A001799     대한제당3우B     21,500        129,656      NaN      NaN
2398  A223220      아이피몬스터        256     10,787,261      NaN      NaN
2399  A208890       에듀파트너      1,310      1,990,820      NaN      NaN
2400  A276240        엘리비젼        997      2,587,200      NaN      NaN
2401  A001529       동양3우B     27,600         89,722      NaN      NaN
2402  A247300  인프라웨어테크놀러지        370      6,118,198      NaN      NaN
2403  A224020     에스케이씨에스        830      2,700,000      NaN      NaN
2404  A135270     세종머티리얼즈        104      7,146,051      NaN      NaN

[2405 rows x 6 columns]

In [23]:
corp_total = corp_info.join(corp_data.set_index('종목코드'), how='outer', on='종목코드')
corp_total

         종목코드         종목명        현재가          상장주식수     유동자산     부채총계
0     A005930        삼성전자     46,100  5,969,782,550  1.7e+14  9.2e+13
1     A000660      SK하이닉스     77,000    728,002,365  2.0e+13  1.7e+13
2     A005935       삼성전자우     38,100    822,886,700      NaN      NaN
3     A005380         현대차    128,000    213,668,187  4.7e+13  1.1e+14
4     A051910        LG화학    333,000     70,592,343  1.2e+13  1.2e+13
5     A012330       현대모비스    242,500     95,306,694  2.0e+13  1.2e+13
6     A068270        셀트리온    179,000    128,329,070  1.7e+12  9.1e+11
7     A035420       NAVER    138,500    164,813,395  5.4e+12  3.9e+12
8     A055550        신한지주     43,900    474,199,587  0.0e+00  4.2e+14
9     A005490       POSCO    228,500     87,186,835  3.4e+13  3.1e+13
10    A017670       SK텔레콤    246,000     80,745,711  8.0e+12  2.0e+13
11    A051900      LG생활건강  1,240,000     15,618,197  1.7e+12  1.7e+12
12    A105560        KB금융     43,600    418,111,537  0.0e+00  4.4e+14
13    A207940    삼성바이오로직스    273,000     66,165,000  1.6e+12  1.8e+12
14    A015760        한국전력     27,950    641,964,077  2.0e+13  1.1e+14
15    A028260        삼성물산     92,300    189,690,043  1.4e+13  2.0e+13
16    A000270         기아차     42,850    405,363,347  2.0e+13  2.5e+13
17    A018260     삼성에스디에스    212,000     77,377,800  5.9e+12  1.9e+12
18    A006400       삼성SDI    229,000     68,764,530  5.5e+12  7.1e+12
19    A096770     SK이노베이션    169,000     92,465,564  1.7e+13  1.7e+13
20    A034730          SK    221,500     70,360,297  3.7e+13  6.9e+13
21    A032830        삼성생명     77,000    200,000,000  0.0e+00  2.6e+14
22    A033780        KT&G     96,800    137,292,497  6.4e+12  2.0e+12
23    A003550          LG     73,300    172,557,131  4.6e+12  4.7e+12
24    A000810        삼성화재    262,500     47,374,837  0.0e+00  6.7e+13
25    A066570        LG전자     68,600    163,647,814  1.9e+13  2.8e+13
26    A035720         카카오    129,000     83,475,610  2.9e+12  2.3e+12
27    A036570       엔씨소프트    485,000     21,946,522  1.6e+12  5.6e+11
28    A086790      하나금융지주     35,100    300,242,062  0.0e+00  3.6e+14
29    A010950       S-Oil     91,700    112,582,792  5.9e+12  9.5e+12
...       ...         ...        ...            ...      ...      ...
2378  A001755       한양증권우      8,090        525,000      NaN      NaN
2379  A245450      씨앤에스링크      2,640      1,579,960      NaN      NaN
2380  A001065     JW중외제약우     24,800        167,375      NaN      NaN
2381  A271850        다이오진      1,375      3,000,000      NaN      NaN
2382  A000995     DB하이텍1우     36,050        112,316      NaN      NaN
2383  A002787     진흥기업2우B     13,500        294,808      NaN      NaN
2384  A084440         유비온      1,300      2,997,107      NaN      NaN
2385  A000545       흥국화재우      4,975        768,000      NaN      NaN
2386  A092590        럭스피아        517      7,291,098      NaN      NaN
2387  A001067   JW중외제약2우B     39,350         87,790      NaN      NaN
2388  A189350          코셋        835      4,000,000      NaN      NaN
2389  A149940          모다        155     21,160,409  1.0e+11  1.7e+11
2390  A00781K   코리아써키트2우B      4,100        783,699      NaN      NaN
2391  A000325      노루홀딩스우     17,200        185,250      NaN      NaN
2392  A032685       소프트센우     22,000        142,857      NaN      NaN
2393  A227420    포레스팅블록체인        399      7,587,936      NaN      NaN
2394  A001527       동양2우B      9,810        308,569      NaN      NaN
2395  A000547     흥국화재2우B     19,200        153,600      NaN      NaN
2396  A000227     유유제약2우B     17,900        164,080      NaN      NaN
2397  A001799     대한제당3우B     21,500        129,656      NaN      NaN
2398  A223220      아이피몬스터        256     10,787,261      NaN      NaN
2399  A208890       에듀파트너      1,310      1,990,820      NaN      NaN
2400  A276240        엘리비젼        997      2,587,200      NaN      NaN
2401  A001529       동양3우B     27,600         89,722      NaN      NaN
2402  A247300  인프라웨어테크놀러지        370      6,118,198      NaN      NaN
2403  A224020     에스케이씨에스        830      2,700,000      NaN      NaN
2404  A135270     세종머티리얼즈        104      7,146,051      NaN      NaN
2404  A002250         NaN        NaN            NaN  8.9e+10  6.0e+10
2404  A026180         NaN        NaN            NaN  5.5e+10  1.3e+11
2404  A079660         NaN        NaN            NaN  1.8e+11  2.4e+11

[2408 rows x 6 columns]

In [24]:
corp_total_dropna = corp_total.dropna()
corp_total_dropna

         종목코드         종목명        현재가          상장주식수     유동자산     부채총계
0     A005930        삼성전자     46,100  5,969,782,550  1.7e+14  9.2e+13
1     A000660      SK하이닉스     77,000    728,002,365  2.0e+13  1.7e+13
3     A005380         현대차    128,000    213,668,187  4.7e+13  1.1e+14
4     A051910        LG화학    333,000     70,592,343  1.2e+13  1.2e+13
5     A012330       현대모비스    242,500     95,306,694  2.0e+13  1.2e+13
6     A068270        셀트리온    179,000    128,329,070  1.7e+12  9.1e+11
7     A035420       NAVER    138,500    164,813,395  5.4e+12  3.9e+12
8     A055550        신한지주     43,900    474,199,587  0.0e+00  4.2e+14
9     A005490       POSCO    228,500     87,186,835  3.4e+13  3.1e+13
10    A017670       SK텔레콤    246,000     80,745,711  8.0e+12  2.0e+13
11    A051900      LG생활건강  1,240,000     15,618,197  1.7e+12  1.7e+12
12    A105560        KB금융     43,600    418,111,537  0.0e+00  4.4e+14
13    A207940    삼성바이오로직스    273,000     66,165,000  1.6e+12  1.8e+12
14    A015760        한국전력     27,950    641,964,077  2.0e+13  1.1e+14
15    A028260        삼성물산     92,300    189,690,043  1.4e+13  2.0e+13
16    A000270         기아차     42,850    405,363,347  2.0e+13  2.5e+13
17    A018260     삼성에스디에스    212,000     77,377,800  5.9e+12  1.9e+12
18    A006400       삼성SDI    229,000     68,764,530  5.5e+12  7.1e+12
19    A096770     SK이노베이션    169,000     92,465,564  1.7e+13  1.7e+13
20    A034730          SK    221,500     70,360,297  3.7e+13  6.9e+13
21    A032830        삼성생명     77,000    200,000,000  0.0e+00  2.6e+14
22    A033780        KT&G     96,800    137,292,497  6.4e+12  2.0e+12
23    A003550          LG     73,300    172,557,131  4.6e+12  4.7e+12
24    A000810        삼성화재    262,500     47,374,837  0.0e+00  6.7e+13
25    A066570        LG전자     68,600    163,647,814  1.9e+13  2.8e+13
26    A035720         카카오    129,000     83,475,610  2.9e+12  2.3e+12
27    A036570       엔씨소프트    485,000     21,946,522  1.6e+12  5.6e+11
28    A086790      하나금융지주     35,100    300,242,062  0.0e+00  3.6e+14
29    A010950       S-Oil     91,700    112,582,792  5.9e+12  9.5e+12
30    A316140      우리금융지주     13,150    680,164,306  0.0e+00  0.0e+00
...       ...         ...        ...            ...      ...      ...
2277  A297570   IBKS제9호스팩      3,755      2,760,000  0.0e+00  9.4e+08
2278  A306620    DB금융스팩6호      2,130      4,840,000  0.0e+00  1.1e+09
2279  A307160  하나머스트제6호스팩      2,220      4,590,000  0.0e+00  7.2e+08
2282  A192410         감마누        408     24,435,800  1.0e+11  6.8e+10
2283  A307870   상상인이안1호스팩      2,090      4,750,000  0.0e+00  9.0e+08
2285  A270520   하나금융10호스팩      2,150      4,602,000  0.0e+00  9.8e+08
2286  A299170  IBKS제10호스팩      2,285      4,330,000  0.0e+00  1.5e+09
2288  A309930   삼성머스트스팩3호      2,150      4,590,000  0.0e+00  7.0e+08
2289  A281410     한국제6호스팩      2,175      4,510,000  0.0e+00  4.6e+08
2290  A313750    유안타제4호스팩      2,095      4,650,000  0.0e+00  1.1e+09
2291  A267320      교보7호스팩      2,420      4,020,000  0.0e+00  2.1e+09
2292  A083470       KJ프리텍        387     24,704,729  1.5e+10  4.6e+10
2296  A265920      한화수성스팩      2,120      4,440,000  0.0e+00  1.3e+09
2297  A307180      신영스팩4호      2,150      4,355,000  0.0e+00  1.2e+09
2299  A261200    하나금융9호스팩      2,160      4,260,000  0.0e+00  8.3e+08
2302  A287410    유안타제3호스팩      2,145      4,235,000  0.0e+00  5.9e+08
2306  A271740     한국제5호스팩      2,200      4,000,000  0.0e+00  4.7e+08
2310  A276920   IBKS제7호스팩      2,285      3,650,000  0.0e+00  1.3e+09
2314  A307280      교보8호스팩      2,180      3,720,000  0.0e+00  1.1e+09
2320  A257730     신한제3호스팩      2,260      3,505,000  0.0e+00  6.7e+08
2322  A311270     키움제5호스팩      2,175      3,600,000  0.0e+00  7.7e+08
2326  A030270        에스마크        998      7,562,701  2.9e+10  3.5e+10
2330  A310200  미래에셋대우스팩2호      2,465      3,050,000  0.0e+00  1.2e+09
2331  A279410   한화에이스스팩4호      2,135      3,495,000  0.0e+00  1.2e+09
2332  A258790   케이비제11호스팩      2,315      3,210,000  0.0e+00  7.5e+08
2333  A232330      SK3호스팩      2,060      3,600,000  0.0e+00  1.1e+09
2336  A310840   엔에이치스팩13호      2,150      3,420,000  0.0e+00  1.4e+09
2338  A310870     한국제8호스팩      2,135      3,420,000  0.0e+00  5.3e+08
2342  A264290   한화에이스스팩3호      2,295      3,080,000  0.0e+00  1.1e+09
2389  A149940          모다        155     21,160,409  1.0e+11  1.7e+11

[2006 rows x 6 columns]

In [25]:
corp_total_dropna["상장주식수"] = corp_total_dropna["상장주식수"].str.replace(",","")
corp_total_dropna

         종목코드         종목명        현재가       상장주식수     유동자산     부채총계
0     A005930        삼성전자     46,100  5969782550  1.7e+14  9.2e+13
1     A000660      SK하이닉스     77,000   728002365  2.0e+13  1.7e+13
3     A005380         현대차    128,000   213668187  4.7e+13  1.1e+14
4     A051910        LG화학    333,000    70592343  1.2e+13  1.2e+13
5     A012330       현대모비스    242,500    95306694  2.0e+13  1.2e+13
6     A068270        셀트리온    179,000   128329070  1.7e+12  9.1e+11
7     A035420       NAVER    138,500   164813395  5.4e+12  3.9e+12
8     A055550        신한지주     43,900   474199587  0.0e+00  4.2e+14
9     A005490       POSCO    228,500    87186835  3.4e+13  3.1e+13
10    A017670       SK텔레콤    246,000    80745711  8.0e+12  2.0e+13
11    A051900      LG생활건강  1,240,000    15618197  1.7e+12  1.7e+12
12    A105560        KB금융     43,600   418111537  0.0e+00  4.4e+14
13    A207940    삼성바이오로직스    273,000    66165000  1.6e+12  1.8e+12
14    A015760        한국전력     27,950   641964077  2.0e+13  1.1e+14
15    A028260        삼성물산     92,300   189690043  1.4e+13  2.0e+13
16    A000270         기아차     42,850   405363347  2.0e+13  2.5e+13
17    A018260     삼성에스디에스    212,000    77377800  5.9e+12  1.9e+12
18    A006400       삼성SDI    229,000    68764530  5.5e+12  7.1e+12
19    A096770     SK이노베이션    169,000    92465564  1.7e+13  1.7e+13
20    A034730          SK    221,500    70360297  3.7e+13  6.9e+13
21    A032830        삼성생명     77,000   200000000  0.0e+00  2.6e+14
22    A033780        KT&G     96,800   137292497  6.4e+12  2.0e+12
23    A003550          LG     73,300   172557131  4.6e+12  4.7e+12
24    A000810        삼성화재    262,500    47374837  0.0e+00  6.7e+13
25    A066570        LG전자     68,600   163647814  1.9e+13  2.8e+13
26    A035720         카카오    129,000    83475610  2.9e+12  2.3e+12
27    A036570       엔씨소프트    485,000    21946522  1.6e+12  5.6e+11
28    A086790      하나금융지주     35,100   300242062  0.0e+00  3.6e+14
29    A010950       S-Oil     91,700   112582792  5.9e+12  9.5e+12
30    A316140      우리금융지주     13,150   680164306  0.0e+00  0.0e+00
...       ...         ...        ...         ...      ...      ...
2277  A297570   IBKS제9호스팩      3,755     2760000  0.0e+00  9.4e+08
2278  A306620    DB금융스팩6호      2,130     4840000  0.0e+00  1.1e+09
2279  A307160  하나머스트제6호스팩      2,220     4590000  0.0e+00  7.2e+08
2282  A192410         감마누        408    24435800  1.0e+11  6.8e+10
2283  A307870   상상인이안1호스팩      2,090     4750000  0.0e+00  9.0e+08
2285  A270520   하나금융10호스팩      2,150     4602000  0.0e+00  9.8e+08
2286  A299170  IBKS제10호스팩      2,285     4330000  0.0e+00  1.5e+09
2288  A309930   삼성머스트스팩3호      2,150     4590000  0.0e+00  7.0e+08
2289  A281410     한국제6호스팩      2,175     4510000  0.0e+00  4.6e+08
2290  A313750    유안타제4호스팩      2,095     4650000  0.0e+00  1.1e+09
2291  A267320      교보7호스팩      2,420     4020000  0.0e+00  2.1e+09
2292  A083470       KJ프리텍        387    24704729  1.5e+10  4.6e+10
2296  A265920      한화수성스팩      2,120     4440000  0.0e+00  1.3e+09
2297  A307180      신영스팩4호      2,150     4355000  0.0e+00  1.2e+09
2299  A261200    하나금융9호스팩      2,160     4260000  0.0e+00  8.3e+08
2302  A287410    유안타제3호스팩      2,145     4235000  0.0e+00  5.9e+08
2306  A271740     한국제5호스팩      2,200     4000000  0.0e+00  4.7e+08
2310  A276920   IBKS제7호스팩      2,285     3650000  0.0e+00  1.3e+09
2314  A307280      교보8호스팩      2,180     3720000  0.0e+00  1.1e+09
2320  A257730     신한제3호스팩      2,260     3505000  0.0e+00  6.7e+08
2322  A311270     키움제5호스팩      2,175     3600000  0.0e+00  7.7e+08
2326  A030270        에스마크        998     7562701  2.9e+10  3.5e+10
2330  A310200  미래에셋대우스팩2호      2,465     3050000  0.0e+00  1.2e+09
2331  A279410   한화에이스스팩4호      2,135     3495000  0.0e+00  1.2e+09
2332  A258790   케이비제11호스팩      2,315     3210000  0.0e+00  7.5e+08
2333  A232330      SK3호스팩      2,060     3600000  0.0e+00  1.1e+09
2336  A310840   엔에이치스팩13호      2,150     3420000  0.0e+00  1.4e+09
2338  A310870     한국제8호스팩      2,135     3420000  0.0e+00  5.3e+08
2342  A264290   한화에이스스팩3호      2,295     3080000  0.0e+00  1.1e+09
2389  A149940          모다        155    21160409  1.0e+11  1.7e+11

[2006 rows x 6 columns]

In [26]:
#corp_total_dropna["시가총액"] = pd.to_numeric(corp_total_dropna["상장주식수"]) * corp_total_dropna["현재가"]
corp_total_dropna["시가총액"] = corp_total_dropna["현재가"].str.replace(",","").astype('float64') * corp_total_dropna["상장주식수"].astype('float64')
corp_total_dropna

         종목코드         종목명        현재가       상장주식수     유동자산     부채총계     시가총액
0     A005930        삼성전자     46,100  5969782550  1.7e+14  9.2e+13  2.8e+14
1     A000660      SK하이닉스     77,000   728002365  2.0e+13  1.7e+13  5.6e+13
3     A005380         현대차    128,000   213668187  4.7e+13  1.1e+14  2.7e+13
4     A051910        LG화학    333,000    70592343  1.2e+13  1.2e+13  2.4e+13
5     A012330       현대모비스    242,500    95306694  2.0e+13  1.2e+13  2.3e+13
6     A068270        셀트리온    179,000   128329070  1.7e+12  9.1e+11  2.3e+13
7     A035420       NAVER    138,500   164813395  5.4e+12  3.9e+12  2.3e+13
8     A055550        신한지주     43,900   474199587  0.0e+00  4.2e+14  2.1e+13
9     A005490       POSCO    228,500    87186835  3.4e+13  3.1e+13  2.0e+13
10    A017670       SK텔레콤    246,000    80745711  8.0e+12  2.0e+13  2.0e+13
11    A051900      LG생활건강  1,240,000    15618197  1.7e+12  1.7e+12  1.9e+13
12    A105560        KB금융     43,600   418111537  0.0e+00  4.4e+14  1.8e+13
13    A207940    삼성바이오로직스    273,000    66165000  1.6e+12  1.8e+12  1.8e+13
14    A015760        한국전력     27,950   641964077  2.0e+13  1.1e+14  1.8e+13
15    A028260        삼성물산     92,300   189690043  1.4e+13  2.0e+13  1.8e+13
16    A000270         기아차     42,850   405363347  2.0e+13  2.5e+13  1.7e+13
17    A018260     삼성에스디에스    212,000    77377800  5.9e+12  1.9e+12  1.6e+13
18    A006400       삼성SDI    229,000    68764530  5.5e+12  7.1e+12  1.6e+13
19    A096770     SK이노베이션    169,000    92465564  1.7e+13  1.7e+13  1.6e+13
20    A034730          SK    221,500    70360297  3.7e+13  6.9e+13  1.6e+13
21    A032830        삼성생명     77,000   200000000  0.0e+00  2.6e+14  1.5e+13
22    A033780        KT&G     96,800   137292497  6.4e+12  2.0e+12  1.3e+13
23    A003550          LG     73,300   172557131  4.6e+12  4.7e+12  1.3e+13
24    A000810        삼성화재    262,500    47374837  0.0e+00  6.7e+13  1.2e+13
25    A066570        LG전자     68,600   163647814  1.9e+13  2.8e+13  1.1e+13
26    A035720         카카오    129,000    83475610  2.9e+12  2.3e+12  1.1e+13
27    A036570       엔씨소프트    485,000    21946522  1.6e+12  5.6e+11  1.1e+13
28    A086790      하나금융지주     35,100   300242062  0.0e+00  3.6e+14  1.1e+13
29    A010950       S-Oil     91,700   112582792  5.9e+12  9.5e+12  1.0e+13
30    A316140      우리금융지주     13,150   680164306  0.0e+00  0.0e+00  8.9e+12
...       ...         ...        ...         ...      ...      ...      ...
2277  A297570   IBKS제9호스팩      3,755     2760000  0.0e+00  9.4e+08  1.0e+10
2278  A306620    DB금융스팩6호      2,130     4840000  0.0e+00  1.1e+09  1.0e+10
2279  A307160  하나머스트제6호스팩      2,220     4590000  0.0e+00  7.2e+08  1.0e+10
2282  A192410         감마누        408    24435800  1.0e+11  6.8e+10  1.0e+10
2283  A307870   상상인이안1호스팩      2,090     4750000  0.0e+00  9.0e+08  9.9e+09
2285  A270520   하나금융10호스팩      2,150     4602000  0.0e+00  9.8e+08  9.9e+09
2286  A299170  IBKS제10호스팩      2,285     4330000  0.0e+00  1.5e+09  9.9e+09
2288  A309930   삼성머스트스팩3호      2,150     4590000  0.0e+00  7.0e+08  9.9e+09
2289  A281410     한국제6호스팩      2,175     4510000  0.0e+00  4.6e+08  9.8e+09
2290  A313750    유안타제4호스팩      2,095     4650000  0.0e+00  1.1e+09  9.7e+09
2291  A267320      교보7호스팩      2,420     4020000  0.0e+00  2.1e+09  9.7e+09
2292  A083470       KJ프리텍        387    24704729  1.5e+10  4.6e+10  9.6e+09
2296  A265920      한화수성스팩      2,120     4440000  0.0e+00  1.3e+09  9.4e+09
2297  A307180      신영스팩4호      2,150     4355000  0.0e+00  1.2e+09  9.4e+09
2299  A261200    하나금융9호스팩      2,160     4260000  0.0e+00  8.3e+08  9.2e+09
2302  A287410    유안타제3호스팩      2,145     4235000  0.0e+00  5.9e+08  9.1e+09
2306  A271740     한국제5호스팩      2,200     4000000  0.0e+00  4.7e+08  8.8e+09
2310  A276920   IBKS제7호스팩      2,285     3650000  0.0e+00  1.3e+09  8.3e+09
2314  A307280      교보8호스팩      2,180     3720000  0.0e+00  1.1e+09  8.1e+09
2320  A257730     신한제3호스팩      2,260     3505000  0.0e+00  6.7e+08  7.9e+09
2322  A311270     키움제5호스팩      2,175     3600000  0.0e+00  7.7e+08  7.8e+09
2326  A030270        에스마크        998     7562701  2.9e+10  3.5e+10  7.5e+09
2330  A310200  미래에셋대우스팩2호      2,465     3050000  0.0e+00  1.2e+09  7.5e+09
2331  A279410   한화에이스스팩4호      2,135     3495000  0.0e+00  1.2e+09  7.5e+09
2332  A258790   케이비제11호스팩      2,315     3210000  0.0e+00  7.5e+08  7.4e+09
2333  A232330      SK3호스팩      2,060     3600000  0.0e+00  1.1e+09  7.4e+09
2336  A310840   엔에이치스팩13호      2,150     3420000  0.0e+00  1.4e+09  7.4e+09
2338  A310870     한국제8호스팩      2,135     3420000  0.0e+00  5.3e+08  7.3e+09
2342  A264290   한화에이스스팩3호      2,295     3080000  0.0e+00  1.1e+09  7.1e+09
2389  A149940          모다        155    21160409  1.0e+11  1.7e+11  3.3e+09

[2006 rows x 7 columns]

In [ ]:
corp_total_dropna["NCAV"] = corp_total_dropna["유동자산"] - corp_total_dropna["부채총계"]
corp_total_dropna["NCAV_RESULT"] = corp_total_dropna["NCAV"] > corp_total_dropna["시가총액"]*1.5
corp_total_dropna

In [14]:
corp_total_dropna[corp_total_dropna["NCAV_RESULT"] == True]

,종목코드,종목명,현재가,상장주식수,유동자산,부채총계,시가총액,NCAV,NCAV_RESULT
344,A029530,신도리코,"43,550",10080029,7.7e+11,7.9e+10,4.4e+11,6.9e+11,True
348,A013120,동원개발,"4,800",90808100,8.5e+11,1.7e+11,4.4e+11,6.8e+11,True
564,A036530,S&T홀딩스,"15,000",16303886,1.2e+12,6.1e+11,2.4e+11,5.6e+11,True
572,A104700,한국철강,"5,290",46050000,6.1e+11,1.9e+11,2.4e+11,4.2e+11,True
596,A001940,KISCO홀딩스,"12,500",18476380,1.1e+12,2.7e+11,2.3e+11,8.5e+11,True
852,A004890,동일산업,"59,100",2425215,3.0e+11,5.5e+10,1.4e+11,2.4e+11,True
912,A011370,서한,"1,310",100894865,3.7e+11,1.7e+11,1.3e+11,2.0e+11,True
974,A054800,아이디스홀딩스,"11,750",10347756,5.3e+11,1.9e+11,1.2e+11,3.4e+11,True
1013,A042420,네오위즈홀딩스,"13,150",8856866,3.0e+11,7.4e+10,1.2e+11,2.2e+11,True
1219,A036000,예림당,"3,960",23034277,4.0e+11,2.2e+11,9.1e+10,1.8e+11,True
1330,A009770,삼정펄프,"32,750",2499971,1.6e+11,2.1e+10,8.2e+10,1.4e+11,True
1496,A000590,CS홀딩스,"59,500",1154482,1.9e+11,3.0e+10,6.9e+10,1.6e+11,True
1543,A069640,한세엠케이,"5,050",12909322,1.6e+11,5.7e+10,6.5e+10,9.8e+10,True
1603,A017480,삼현철강,"3,895",15702890,1.2e+11,2.2e+10,6.1e+10,1.0e+11,True
1629,A033560,블루콤,"3,275",18088047,1.1e+11,6.1e+09,5.9e+10,1.0e+11,True
1646,A041520,이라이콤,"4,685",12188730,2.5e+11,1.0e+11,5.7e+10,1.4e+11,True
1772,A123700,SJM,"3,155",15604898,1.3e+11,3.4e+10,4.9e+10,9.8e+10,True
1810,A025530,SJM홀딩스,"3,135",14934008,1.8e+11,4.6e+10,4.7e+10,1.3e+11,True
1850,A031980,피에스케이홀딩스,"7,960",5566584,2.3e+11,4.8e+10,4.4e+10,1.8e+11,True
1900,A024070,WISCOM,"2,695",15326438,7.6e+10,1.1e+10,4.1e+10,6.5e+10,True
1955,A087600,픽셀플러스,"4,670",8166558,6.2e+10,4.6e+09,3.8e+10,5.8e+10,True
2049,A017000,신원종합개발,"3,250",10068027,1.7e+11,1.1e+11,3.3e+10,5.9e+10,True
2082,A060300,레드로버,610,47637698,5.9e+10,1.3e+10,2.9e+10,4.7e+10,True
2179,A101680,한국정밀기계,"2,410",8404000,6.8e+10,3.3e+10,2.0e+10,3.5e+10,True
2282,A192410,감마누,408,24435800,1.0e+11,6.8e+10,1.0e+10,3.7e+10,True